

<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <div class="col-sm-4 col-xs-12" id="f_job_div" class='form-group'> 
    <label><font color="darkred">*</font>Job</label> <!-- Job Description-->
    <input type="text" class="form-control input-lg" id="f_job" required>
  </div>   


 <div class="col-sm-4 col-xs-12" id="f_type_div" class='form-group'> 
    <label><font color="darkred">*</font>Type</label> <!-- Category -->
   <select class="form-control input-lg" id="f_type" required>
     <option>Skilled</option>
     <option>Unskilled</option>
     <option>Foreman</option>
     </select>
  </div> 

  <div class="col-sm-4 col-xs-12" id="f_unit_div" class='form-group'> 
    <label><font color="darkred">*</font>Unit</label> <!-- unit -->
   <select class="form-control input-lg" id="f_unit" required>
     <option>/hr</option>
     <option>/day</option>
     </select>
  </div> 



 <div class="col-sm-4 col-xs-12" id="f_rate_div" class='form-group'> 
    <label><font color="darkred">*</font>Rate</label> <!-- Job Description-->
    <input type="text" class="form-control input-lg" id="f_rate" required>
  </div>  
  






</div> <!-- /.row -->   






















