
<hr>

<div class="col-xs-4" id="modal_user_type_div" class='form-group'> 
 <label><font color="darkred">*</font>Equipment Type</label> <!-- EQPT_Name -->
     <select class="form-control input-lg" id="modal_user_type" required>                    
    </select>
</div>      
<div class="col-xs-4" id="modal_user_type_div" class='form-group'> 
 <label><font color="darkred">*</font>Category</label> <!-- SUBcategory -->
     <select class="form-control input-lg" id="modal_category_type" required>
        <option value="none">--SELECT--</option>                      
    </select>
</div>    

  <div class="col-sm-4 col-xs-12" id="f_desc_div" class='form-group'> 
    <label><font color="darkred">*</font>Description</label> <!-- DESCRIPTION -->
    <input type="text" class="form-control input-lg" id="f_desc" required>
  </div>               


  <div class="col-sm-4 col-xs-12" id="f_model_div" class='form-group'> 
    <label><font color="darkred">*</font>Model</label> <!-- MODEL -->
    <input type="text" class="form-control input-lg" id="f_model" required>
  </div>              
 

 <div class="col-sm-4 col-xs-12" id="f_size_div" class='form-group'> 
    <label><font color="darkred">*</font>Capacity Size</label> <!-- Capacity Size -->
     <input type="text" class="form-control input-lg" id="f_size" required>
  </div>       

  <div class="col-sm-4 col-xs-12" id="f_platenum_div" class='form-group'> 
    <label><font color="darkred">*</font>Plate Number</label> <!-- Plate Number -->
     <input type="text" class="form-control input-lg" id="f_platenum" required>
  </div>         
 
 <div class="col-sm-4 col-xs-12" id="f_serialnum_div" class='form-group'> 
    <label><font color="darkred">*</font>Serial Number</label> <!-- Serial Number -->
     <input type="text" class="form-control input-lg" id="f_serialnum" required>
  </div>  


</div> <!-- /.row -->   

