
<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  <div class="col-sm-4 col-xs-12" id="f_name_div" class='form-group'> 
    <label><font color="darkred">*</font>Name</label> <!-- Prod_Name -->
    <input type="text" class="form-control input-lg" id="f_name" required>
  </div>                          

   
    <div class="col-sm-4 col-xs-12" id="f_desc_div" class='form-group'> 
    <label><font color="darkred">*</font>Type</label> <!-- Category_Name -->
    <select class="form-control input-lg" id="f_desc" required>
    <option>Equipment</option>
    <option>Materials</option>
    <option>Labor</option>
    <option>Employee</option>
    </select>  
     </div>     

 <div class="col-sm-4 col-xs-12" id="f_type_div" class='form-group'> 
    <label><font color="darkred">*</font>Category</label> <!-- Category_Name -->
    <select class="form-control input-lg" id="f_type" required>
 
    </select>
  </div>   

</div> <!-- /.row -->   

