<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

  <div class="col-sm-3 col-xs-12" id="f_name_div" class='form-group'> 
    <label><font color="darkred">*</font>ID</label> <!-- Prod_Name -->
    <input type="text" class="form-control" id="f_name" required>
  </div>               

  <div class="col-sm-2 col-xs-12" id="f_contact_div" class='form-group'> 
    <label><font color="darkred">*</font>Name</label> <!-- Prod_Name -->
    <input type="number" class="form-control" id="f_contact" required>
  </div>             

  <div class="col-sm-3 col-xs-12" id="f_bdate_div" class='form-group'> 
    <label><font color="darkred">*</font>Position</label> <!-- Prod_Name -->
    <input type="text" class="form-control" id="f_bdate" required>
  </div>             

  <div class="col-sm-2 col-xs-12" id="f_gender_div" class='form-group'> 
    <label><font color="darkred">*</font>Status </label> <!-- Prod_Name -->
    <input type="text" class="form-control" id="f_name" required>
  </div>                 
<div class="col-sm-2 col-xs-12" id="f_mstatus_div" class='form-group'> 
    <label><font color="darkred">*</font>Contact</label> <!-- Prod_Name -->
     <input type="text" class="form-control" id="f_name" required>
  </div>
  <div class="col-sm-2 col-xs-12" id="f_mstatus_div" class='form-group'> 
    <label><font color="darkred">*</font>Email</label> <!-- Prod_Name -->
     <input type="text" class="form-control" id="f_name" required>
  </div>   
<div class="col-sm-2 col-xs-12" id="f_mstatus_div" class='form-group'> 
    <label><font color="darkred">*</font>Address</label> <!-- Prod_Name -->
     <input type="text" class="form-control" id="f_name" required>
  </div>  
</div> <!-- /.row -->   

   
